/* google font added  */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* header style  */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
}

nav ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    margin-right: 2rem;
}

nav li a {
    text-decoration: none;
    font-weight: 500;

}

.banner-section {
    text-align: center;
    margin-top: 7.25rem;
}

.banner-section img {
    margin: 3rem 0;
    width: 100%;
}

.banner-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-text {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    line-height: 26px;
    margin: 2rem 0;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Feautre Style */
.feature-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;

}

.feature-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 45%;
}
.feature-img-container img{
    width: 100%;
}

.feature-banner {
    margin-left: 4rem;
    width: 45%;
}

.feature-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.feature-text {
    color: #727272;
    line-height: 26px;
    margin: 1.5rem 0;
}



/* utility style  */
.btn {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}
.bright{
    color: #FF900E;
}
.hide{
    display: none;
}


/* responsive media query */
@media screen and (max-width : 576px) {
    header {
        padding: 20px 10px;
    }
    .header-title-break{
        display: none;
    }
    .header-text-break{
        display: none;
    }
    nav {
        flex-direction: column;
    }
    .nav-title {
        font-size: 1.5rem;
    }
    nav ul {
        margin: 20px 0;
    }
    nav>ul>li {
        margin-right: 1rem;
    }
    .banner-section {
        margin-top: 3rem;
    }
    .banner-title {
        font-size: 3rem;
    }
    .banner-section img {
        margin: 1rem 0rem;
    }
    .btn {
        padding: 10px 15px;
    }
    
/* feature responsivenesss */
.feature-section{
    flex-direction: column;
    padding: 20px 10px;
}
.feature-img-container{
    width: 90%;
}
.feature-banner{
    margin-top: 30px;
    margin-left: 1rem;
    width: 90%;
}
.feature-title{
    font-size: 2rem;
}


}

@media screen and (min-width : 576px) and (max-width: 960px) {
    .feature-section{
        padding: 20px 30px;
        margin-top: 30px;
    }
    .feature-title{
        font-size: 2.5rem;
    }
    header {
        padding: 50px;
    }
    
    .header-text-break{
        display: none;
    }
    nav {
        flex-direction: column;
    }
    
    nav ul {
        margin: 30px 0;
    }

    .banner-section {
        margin-top: 3rem;
    }

    .banner-title {
        font-size: 4rem;
    }

    .banner-section img {
        margin: 1rem 0rem;
    }

    .btn {
        padding: 10px 15px;
    }
}